:root {
  --scrollbar-width: 0;
}

html {
  box-sizing: border-box;

  &.overflow {
    margin-right: var(--scrollbar-width, 0);
    overflow: hidden;
  }

  &.windows,
  &.linux,
  &.unix {
    ::-webkit-scrollbar {
      width: 0.9375rem;
      height: 0.9375rem;
      border: 0 solid var(--border-primary);
      -webkit-appearance: none;

      &:vertical {
        border-left-width: 0.0625rem;
      }

      &:horizontal {
        border-top-width: 0.0625rem;
      }
    }

    ::-webkit-scrollbar-thumb {
      background: var(--bg-eighth);
      background-clip: content-box;
      border: solid transparent;
      border-width: 0.1875rem;
      border-radius: 0.625rem;

      &:vertical {
        border-left-width: 0.25rem;
      }

      &:horizontal {
        border-top-width: 0.25rem;
      }
    }
  }
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  color: var(--text-third);
  background: var(--bg-primary);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.visually-hidden,
.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
}
