{
  "localhost": {
    "host": "http://localhost/api",
    "portfolioId": "f59bd8b1-8f99-4d0d-bdc6-edfe9a5b0589",
    "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9",
    "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9"
  }
}
